// covid header

.top .covid-header {
    background-color:#222222;
    color:#A3A3A3;
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 58px;
    // line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
}

//background 

.top .background {
    background-color: black;
    // background-size: cover;
    width: 100%;
    height: 720px;
    position: absolute;
    left: 0;

}

.top .background .background-home-image {
    position: absolute;
    width: 95%;
    top: 160px;
    left: 0;
    right: 0;
    margin: auto;
}

.top .background .search-bar {
    border-radius: 999px;
    border: 10px solid white;
    background-color: white;

    width: 70%;
    position: absolute;
    top: 125px;
    left: 15%;

    color: black;
    z-index: 2;
}

.top .background .header-1 {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 400;
    top: 653px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.top .background .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1000;
    // background-color: white;
    // z-index: 3;
    margin: 10px auto auto auto;
    width: 100%;
    padding-top: 50px;
    color: white;
}

.top .background .header-left {
    cursor: pointer;
    display: flex;
    width: 80px;
    justify-content: space-between;
    font-size: large;
    margin: auto auto auto 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top .background .header-left .home-icon {
    object-fit: contain;
    height: 45px;
    width: 45px;
    // margin: auto auto auto 20px;

}

.top .background .header-center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    // margin: auto auto auto auto;
    padding-left: 175px;
    
}

.hcb {
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}



.top .background .header-center :hover {
  color: lightgray;
}

.top .background .header-right :hover {
  color: lightgray;
}


.top .background .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 80px auto auto;
    width: 275px;
}

.bah {
    background: transparent;
    border: none;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.gi {
    cursor: pointer;
    background: transparent;
    border: none;
}

.top .background .header-right .main-form-button {
    background-color: white;
    border-radius: 999px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

.main-form-button:focus{
    outline: none;
}
//bottom

.bottom {
    background-color: white;
 
    height: 2000px;
    width: 100%;
    position: absolute;
    left: 0;

    top: 775px;


}



.bottom .explore-nearby {
    margin-bottom: 20px;
    padding-left: 110px;
}

.nearby {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 85%;
    justify-content: center;
    padding-left: 110px;
    
}

.nearby1 {
    display: flex;
    justify-content: space-between;
    
}

.nearbys {
    display: flex;
    align-items: center;
    width: 196px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 12px;
    
}

.nearbys:hover {
     background-color: lightgray;
}

.lic {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.lic1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}

.lic2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.bottom .live-anywhere {
    padding-left: 110px;
    padding-bottom: 10px;
}

.home-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.home-center{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.home-images-a {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 18px;
}
.home-images-a img {
    
    width: 290px;
    height: 290px;
    border: 1px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.become-a-host {

    width: 100%;
    margin-top: 80px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 40px;
    // padding-right: 40px;

}

.bah1 {
    display: flex;
    justify-content: center;
}



.become-a-host img {
    width: 85%;
    height: 100%;
    border-radius: 20px;
}

.bah2 {
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 200px;
    width: 350px;
    height: 310px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bah2a {
    color: white;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bah2b {
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 40px;
    // padding-top: 20px;
}

.bah2c{
    border: none;
    border-radius: 4px;
    background: white;
    width: 200px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.etwh {
    padding-left: 110px;
    // padding-bottom: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    
}

.etws {
    padding-left: 110px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 24px;

}

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // margin-left: 40px;
    margin-top: 20px;

}

.explore-center{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.explore-a {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.explore-s {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 250;
    font-size: 14px;
    padding-top: 5px;
}

.explore-a img {
    
    width: 334px;
    height: 334px;
    border: 1px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.footer {
    // margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

.footer-c{
    width: 85%;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 250;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
}

.dot-2{
    height: fit-content;
    width: fit-content;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.leads{
    margin-top: 100px;
    display: flex;
    padding-left: 84px;
    padding-bottom: 2px;
    // justify-content: center;
}

.leads-c{
    width: 15%;
    // border-right: 2px solid lightgray;
    // border-top: 2px solid lightgray;
    // border-left: 2px solid lightgray;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.leads-c a{
    height: fit-content;
    width: fit-content;
}

.leads-a-2 {
    padding-top: 10px;
}

.leads-c-b {
    height: 75px;
    width: 75px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.leads-c-b:focus {
    outline: none;
}
.leads-b-i {
    width: 75px;
    height: 75px;
}

.leads-b-i-2 {
    width: 75px;
    height: 90px;
    // padding-top: 5px;
}


.location-icon {
    
    border-radius: 50%;
    background: transparent;
    border: none;
    // margin-right: 200px;
 
    
}

.location-icon img {
    width: 64px;
    height: 64px;
    border-radius: 20%;
}


.j-logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.bah {
    font-size: 16px;
}
