// .mht{
//     width: 100px;
//     height: 100px;
// }

@import url(//db.onlinewebfonts.com/c/bd6213fa49bedc8cb050c63f14360efa?family=Circular+Air+Book);

@font-face {font-family: "Circular Air Book"; src: url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.eot"); src: url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.woff") format("woff"), url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bd6213fa49bedc8cb050c63f14360efa.svg#Circular Air Book") format("svg"); }

.lh{
    display: flex;
    flex: row;
    align-items: center;
    height: 80px;
    box-shadow: rgba(0,0,0,0.08) 0px 1px 12px;
}



.lhl {
    display: flex;
    
    
    align-items: center;
    
    z-index: 2;
    font-size: 25px;
    font-weight: 600;
    font-weight: 600;
    width: fit-content;
    margin-left: 50px;
    cursor: pointer;
}

.lhl img {
    height: 55px;
    width: 55px;
    
}


.lhc {
    border-radius: 999px;
    border: 1px solid lightgray;
    background-color: white;

    width: 848px;
    height: 64px;
    // position: absolute;
    // top: 125px;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;

    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular Air Book;
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.04em;

    position: relative;
    
    margin-right: auto;
    margin-left: 100px;
    
}

.lhc2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height:100%;
    border-radius: 24px;
    border: 1px solid lightgray;
}

.lhc button {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100px;
    width: fit-content;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    border-right: 1px solid lightgray;
}

.lhc button:first-child{
    padding-right: 10px;
}

.lhc button:last-child{
    border-right: none;
}

.lhr {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 50px;
    
}

.si {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 999;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag {
    padding-left: 10px;
    padding-right: 10px;
}

.si img {
    width: 12px;
    height: 12px;
}

.listings-bottom{
    display: flex;
}

.listings {
    width: 60%;
    min-height: calc(40vh - 80px);
    padding-top: 40px;
    padding-left: 20px;
    overflow: hidden;
}

.listings:hover
{
    overflow: auto;
}

.listingsa {
    font-weight: 100;
    color: #484848;
    font-family: Circular Air Book;
}

.listings h1{
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 34px;
}

.fo button{
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 4px;
    margin-right: 8px;
    font-family: Circular Air Book;
    font-size: 14px;
    color: #484848;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.cv {
    color: #484848;
    font-size: 14px;
    font-family: Circular Air Book;
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
    
}

.map{
    // width: 500px;
    width: fit-content;
    // min-height: calc(100vh - 80px);
    margin-right: 0;
    height: fit-content;
    position: sticky;
    top: 0px;
}

#map{
    width: 600px;
    height: 698px;
}

#map2 {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.gdf {
    background: red;
    height: 200px;
    width: 200px;
    
}


.jmap{
    // min-height: calc(100vh - 80px);
    // width: 100%;
    margin-right: 0;
   
}

.il {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
    cursor: pointer;
}


.ili{
    width: 300px;
    height: 200px;
}

.ili img {
    height: 100%;
    width: 100%;
    border-radius: 4%;
}

.ilc{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-left: 18px;
    width: 450px;
}

.ilc1 {
    color: #484848;
    font-size: 14px;
    font-family: Circular Air Book;
}

.ilc2 {
    color: black;
    font-size: 18px;
    font-weight: 300;
    font-family: Circular Air Book;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ilc3 {
    width: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.ilc4{
    display: inline-flex;
    align-items: center;
    height: 22px;
    color: #484848;
    font-size: 14px;
    font-weight: 200;
    font-family: Circular Air Book;
}

.ilc4a{
    display: inline-flex;
    align-items: center;
    height: 100%;
    color: #484848;
    font-size: 14px;
    font-weight: 200;
    font-family: Circular Air Book;
}

.dot {
    height: fit-content;
    width: fit-content;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
}

.ilc5 {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    
}

.ilc5a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    width: fit-content;
}

.ilc5a img {
    background: red;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 1px;
}

.ilc5b {
    display: flex;
    flex: 1
}

.ilc5c {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-family: Circular Air Book;
}

.ilc5c span {
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.ilc5cfc {
    font-size: 25px;
    font-weight: 600;
    padding-right: 5px;
}

.ilc5clc {
    padding-top: 5px;
}

.main-form-button {
    background-color: white;
    border-radius: 999px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}